# -----------------------
# Virtual environment
# -----------------------

myenv

# ------------------------
# Large Files 
# ------------------------

*.pkl
*.csv
*.json

.venv/
venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints
